body,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

ins,
a {
  text-decoration: none;
}

button {
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  outline: 0;
}

html *,
html *:before,
html *:after {
  box-sizing: inherit
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent
}


@font-face {
  font-family: 'Calluna Serif';
  src: url(./calluna-bold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}

body {
  font-family: PingFang SC, Helvetica Neue, Microsoft YaHei, sans-serif;
  color: #151719;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  animation: colorchange 2s;
  animation-fill-mode: forwards;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Calluna Serif', 'Title Serif', 'Source Han Serif SC', 'Songti SC', SimSun, serif;
  -webkit-font-feature-settings: 'lnum';
  font-feature-settings: 'lnum';
}

@keyframes colorchange {
  from {
    background-color: #fff;
  }
  to {
    background-color: #f2f2f2;
  }
}
