:root {
  --text-color: #212121;
  --text-color-light: #bfbfbf;
  --background-color: #f2f2f2;
}

@font-face {
  font-family: 'Calluna Serif';
  font-style: normal;
  font-weight: 700;
  src: url('/calluna-bold.woff') format('woff');
  font-display: fallback;
}

html {
  box-sizing: border-box;
  height: 100%;
  text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'PingFang SC', 'Helvetica Neue', 'Microsoft YaHei', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: var(--text-color);
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Calluna Serif', 'Title Serif', 'Source Han Serif SC',
    'Songti SC', simsun, serif;
  font-feature-settings: 'lnum';
}

ins,
a {
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #ccc;
    --text-color-light: #555;
    --background-color: #212121;
  }
}
